body {
    margin: 0;
    padding: 50px 0 0 0;
}
.searchClass {
    width: 100%;
    background-color: white;
    background-color: rgba(103, 212, 212, 0.20);
    height: auto;
}
#btnSearch {
    position: absolute;
    right: 20px;
}
#txtSearch {
    position: absolute;
    right: 50px;
    border-collapse: collapse;
    margin: 0;
}
#lblName {
    background-color: white;
    background-color: rgba(103, 212, 212, 0.20);
}