
.logInBtn {
    font-size: 18px;
}

.auto-style1 {
    color: #FFFFFF;
    text-shadow: 15px 26px 2px #063533, -16px -18px 2px #243832;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 50px;
}
